@import '../_var'

.service-banner
    position: relative
    color: white
    overflow: hidden
    height: 95vh
    display: flex
    flex-direction: column
    justify-content: center
    @include media(1024)
        height: 80vh
    @include media(991)
        height: 50vh
    @include media(540)
        height: 70vh
    &::before
        content: ''
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background: linear-gradient(360deg, rgba(0, 0, 0, 0) 49.04%, rgba(0, 0, 0, 0.98) 100%)
        @include media(540)    
            background: linear-gradient(360deg, rgba(0, 0, 0, 0) 49.04%, rgba(0, 0, 0, 0.98) 100%)
    .banner-wrapper 
        width: 100%
        .bg-image
            position: absolute
            top: 0
            left: 0
            z-index: -1
            width: 100%
            img
                width: 100%
                height: 100%
                object-fit: cover
        .container
            @include media(540)
                padding: 0
            .bg-wrapper
                // max-width: 50%
                position: absolute
                z-index: 1
                width: 100%
                bottom: 35%
                margin-left: 10px
                @include media(991)
                    bottom: 40%
                @include media(540)
                    bottom: 25%
                h1
                    font-weight: 600
                    font-size: 48px
                    line-height: 1.1
                    text-align: left
                    margin-bottom: 18px
                    max-width: 528px

                    @include media(991)
                        max-width: 70%
                        line-height: 1.2
                        font-size: 30px
                    @include media(540)
                        max-width: 100%
                        font-size: 25px
                        line-height: 1.1
                        text-align: center
                        padding: 0 20px
                        margin-bottom: 8px

                p
                    font-family: $Poppins
                    font-weight: 500
                    font-size: 16px
                    line-height: 100%
                    color: $white
                    max-width: 50%
                    @include media(991)
                        max-width: 100%
                        color: #ffffffe0
                    @include media(540)
                        max-width: 100%
                        font-size: 13px
                        line-height: 1.2
                        text-align: center
                        color: #ffffffdb

.service-secA
    padding: 50px 0
    .flex-box
        display: flex
        justify-content: space-between
        .flex-box-item:first-child
            width: 65%
            .content
                p
                    font-weight: 400
                    font-size: 16px
                    text-align: justify
                    margin-bottom: 25px
                    color: $text
                h3
                    font-weight: 600
                    font-size: 18px
                    color: black
                    margin: 40px 0 10px 0
                ul
                    margin-bottom: 20px
                    margin-left: 10px
                    li
                        position: relative
                        padding-left: 30px
                        margin-bottom: 10px
                        color: $text
                        &::before
                            content: ""
                            position: absolute
                            left: 0
                            top: 50%
                            width: 14px
                            aspect-ratio: 1
                            border-radius: 50%
                            background: #5393C5
                            transform: translateY(-50%)


        .flex-box-item:last-child
            // width: 40%
            width: 380px
            height: 422px
            opacity: 1
            border-radius: 10px
            background: linear-gradient(0deg, #3154AE 0%, #1A1D5B 100%)
            position: Sticky
            top: var(--headerheight)
            padding: 25px
            overflow: auto
            &::-webkit-scrollbar
                width: 2px
            &::-webkit-scrollbar-track
                box-shadow: unset
                background: #fff
            &::-webkit-scrollbar-thumb
                background: linear-gradient(0deg, #3154AE 0%, #1A1D5B 100%)
            .heading
                border-bottom: 1px solid #FFFFFF
                h2
                    font-weight: 600
                    font-size: 24px
                    color: $white
                    padding: 15px 0
            .content-heading
                padding: 40px 0
                h3
                    font-weight: 500
                    font-size: 16px
                    color: $white
                    padding-left: 20px 
                    margin-bottom: 25px
                    line-height: 1.4
                    a
                        color: $white
                    

.service-secB
    .banner
        .bg
            position: relative
            height: 85vh
            &::before
                content: ''
                position: absolute
                top: 0
                left: 0
                width: 100%
                height: 100%
                background: #000000A6

            .banner-wrapper
                top: 15%
            .heading
                text-align: center
                h2
                    font-weight: 500
                    font-size: 36px
                    color: $white
                    line-height: 1.9
                    text-align: center
                p
                    font-weight: 500
                    font-size: 16px
                    color: $white
            .grid-box
                margin: 100px 0
                display: grid
                grid-template-columns: repeat(3,1fr)
                grid-gap: 40px
                text-align: center
                .grid-box-item
                    img
                        width: 70px
                        height: 70px
                    h3
                        color: $white
                        font-weight: 500
                        font-size: 20px
                        margin: 25px 0 20px 0
                    p
                        font-weight: 400
                        font-size: 14px
                        color: $white
                        line-height: 1.4
